.choiceBtn{
    line-height: 50px;
    width: 150px;
}
#gameDiv{
    font-family: 'Brush Script MT', cursive;
    border: 3px solid;
    border-radius: 50px;
    padding: 10px;
    background-color: lightgrey;
    text-align: center;
}
#playerText{
    color: blue;
}
#computerText{
    color: red;
}